body {
    background-color: rgb(57, 85, 94);
}

h3 {
    color: white;
    text-align: center;
    font-size: 8em;
}

img {
    width: 100%;
    height: auto;
}

table{
    border: 2px solid #2b3da1;  
    border-collapse: collapse;
    background-color: white;
}

td {
    border: 1px solid black;
    padding: 5px 10px;
}

p {
    font-family: verdana;
    font-size: 20px;
}